<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2022 <a href="#">Easy Kid gamezopGame</a> Company. All rights reserved.

          <br>Design: <a href="http://easykidgame.com" title="Easy Games For Kids">Easy Kid Game</a></p>
      </div>
    </div>
  </div>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-637269094ed6eea7"></script>
</footer>