<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="${descContent}"/>
    <meta name="application-name" content="easykidgame"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!--Social Media-->
    <meta property="og:title" content="Easy Kid Game">
    <meta property="og:description" content="For kids, easy gamezopGames">
    <meta property="og:image" content="http://easykidgame.com/assets/images/clip-03.jpg">
    <meta property="og:url" content="http://easykidgame.com">

    <meta name="twitter:title" content="Easy Kid Game">
    <meta name="twitter:description" content="For kids, easy gamezopGames">
    <meta name="twitter:url" content="http://easykidgame.com/assets/images/clip-02.jpg">
    <meta name="twitter:card" content="http://easykidgame.com">

    <title th:text="${title}">Easy Kid Game,Play,Jump,Puzzle,Junior,Sport,Strategy</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{assets/css/templatemo-cyborg-gaming.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.1/animate.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <link rel="icon" type="image/x-icon" th:href="@{/assets/images/favicon.ico}"/>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/popup.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7990736697930262"
            crossorigin="anonymous"></script>
    <script async src="https://fundingchoicesmessages.google.com/i/pub-7990736697930262?ers=1" nonce="JVlgwOJuzeWFXQnB2siByQ"></script>
    <script nonce="JVlgwOJuzeWFXQnB2siByQ">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0TKW4LCWR2"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-0TKW4LCWR2');
    </script>
</head>